@import '../../assets/styles/variables.scss';

.dashboard {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f8f9fa;
  color: #000; 

  &.dark {
    background-color: #121212;
    color: #ffffff;
  }
}

.add-graph-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  text-align: left;
}

.add-graph-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.add-graph-button img {
  width: 100px;
  filter: none;

  .dark & {
    filter: invert(1);
  }
}


.add-graph-section p {
  margin-left: 20px;
  font-size: 16px;
  color: black;

  .dark & {
    color: white;
  }
}
