@import '../../assets/styles/variables.scss';

.dashboard-container {
  padding: 1rem;
  width: 100%;
  // height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  &.dark {
    background-color: #121212;
    color: #ffffff;
  }
  // border: 5px solid magenta;
}

.dashboard-title {
  // border: 2px solid red;
  margin-bottom: 2rem;
  // background-color: #f8f9fa;
  // color: #000; 
  // background-color: $color-white;
  color: $color-black;

  &.dark {
    color: $color-white;
  }
}

.add-graph-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  text-align: left;
}

.add-graph-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.add-graph-button img {
  width: 100px;
  filter: none;

  .dark & {
    filter: invert(1);
  }
}


.add-graph-section p {
  margin-left: 20px;
  font-size: 16px;
  // color: black;
  color: $color-black;

  .dark & {
    // color: white;
    color: $color-white;
  }
}
