@import '../../assets/styles/variables.scss';

.login-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    background-color: white;
    height: calc(100vh - 60px);
}